* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  min-height: 100vh;
  font-family: Roboto, sans-serif;
}

.app {
  background: url("../img/bg.png");
  height: 100vh;
  background-size: cover;
}

.container {
  max-width: 1028px;
  margin: auto;
}
.header {
  color: #fff;
  padding: 40px 0;
}
.logo:hover * {
  color: #F26522;
}
.logo {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.logo:hover{
  color: #F26522;
}
.logo:hover .logo__img {
  background: url('../img/logo2.png');
}

.logo__img {
  cursor: pointer;
  width: 53px;
  height: 47px;
  display: block;
  background-image: url('../img/logo.png');
  background-size: 100%;
}
.logo__title {
  cursor: pointer;
  font-size: 29px;
  font-weight: 700;
  line-height: 29px;
}
.logo__subtitle {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.contact__phone:hover{
  color:#F26522;
} 
.contact__email:hover{
  color: #F26522;
}
.contact {
  text-align: right;
}
.contact__email {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 10px;
  display: block;
}
.contact__phone {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  display: block;
}
.header {
  display: flex;
  justify-content: space-between;
}
.card {
  position: relative;
  overflow: hidden;
  width: 300px;
}
.card:hover a:not(.view){
 color: #F26522;
}
 .card__wrapper {
  overflow: hidden;
  position: relative;
 }
.card__details {
  background: #F26522;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 10px;
  bottom: -100px;
  transition: 2s;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__wrapper:hover .card__details {
  bottom: 0;
}
h4{
  height: 14px;
  justify-content: center;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
}
h5{
  display: flex;
  width: 22px;
  height: 14px;
  justify-content: center;
  color: #FFF;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.view::after{
  content: '>';
  margin-left: 7px;
}
.view {
  display: block;
  text-align: right;
  /* display: flex; */
  color: #FFF;
  /* justify-content: right; */
}
.text2{
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-top: 25px;

}
.text1{
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-top: 25px;
}
.text3{
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-top: 25px;
}
.text4{
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-top: 25px;
}
.text5{
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-top: 25px;
}
.text6{
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-top: 25px;
}
.main {
  justify-content: space-between;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.footer{
  display: flex;
  justify-content: center;
  color: #FFF;
  margin-top: 40px;
  }
  .card__wrapper{
    cursor: pointer;
  }